@import "./nord.scss";

$item-background: $nord0;//rgb(21, 30, 41);
$item-color: $nord8;
$font-size: 12px;
$padding: 3px 15px 3px 15px;

* {
    all: unset;
    font-family: "Hurmit Nerd Font"
}

.statusbar {
    background-color: $nord2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 0 20px 0 20px;
}

.bar-icon {
    font-size: 23px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
    color: $nord9;
}

.workspaces {
    background-color: $item-background;
    border-radius: 10px;
    font-size: $font-size;
    padding: $padding;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 20px;

    .focused,.occupied,.empty {
        margin-right: 8px;
    }
    .focused {
        color: rgba($color: $nord15, $alpha: 1.0);
    }
    .occupied {
        color: rgba($color: $item-color, $alpha: 0.7);
    }
    .empty {
        color: rgba($color: $item-color, $alpha: 0.1);
    }
}

.time-weather {
    background-color: $item-background;
    border-radius: 10px;
    color: $nord13;
    font-size: $font-size;
    padding: $padding;
}

.music {
    background-color: $item-background;
    border-radius: 10px;
    color: $item-color;
    font-size: $font-size;
    padding: $padding;
}

.volume {
    background-color: $item-background;
    border-radius: 10px;
    color: $nord13;
    font-size: $font-size;
    padding: 1px 8px 1px 3px;
}

.brightness {
    background-color: $item-background;
    border-radius: 10px;
    color: $nord10;
    font-size: $font-size;
    padding: 3px 8px 3px 8px;
}

.battery {
    background-color: $item-background;
    border-radius: 10px;
    color: $nord14;
    font-size: $font-size;
    padding: 3px 8px 3px 8px;
}

.power {
    font-size: 20px;
    color: $nord9;
}





.powermenu-container{
    padding-top: 480px;
    padding-bottom: 460px;
    padding-left: 610px;
    padding-right: 610px;
    background-color: rgba($color: #04161d6e, $alpha: 0.4);

    .powermenu {
        font-family: "Font Awesome 6 Free Solid";
        font-size: 40px;
        background-color: $nord3;
        color: $nord9;
        border-radius: 20px;
        padding-bottom: 20px;

        .left {
            border-top-left-radius: 20px;
        }
        .right {
            border-top-right-radius: 20px;
        }
        .element {
            background-color: $nord0;
        }
        .selected {
            background-color: $nord15;
            color: $nord2;
        }
    }
}
.powermenu-applet {
    background-color: $nord0;
    color: $nord9;
    font-size: 25px;
    padding-top: 20px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .selected {
        background-color: $nord15;
        color: $nord2;
    }
}