hotkey-overlay {
    skip-at-startup
}
environment {
    GTK_USE_PORTAL "0"
    GDK_DEBUG "no-portals"
}
output "DP-3" {
    off
}
output "HDMI-A-1" {
    off
}
output "eDP-1" {
    scale 1
    transform "normal"
    position x=1080 y=840
    focus-at-startup
}

binds {
}

layout {
}

spawn-at-startup "sh" "-c" "/usr/bin/regreet; niri msg action quit --skip-confirmation || pkill -f niri"
